PORT=PORT

#session secret
SESSION_SECRET=session-secret

# Gmail credentials
EMAIL=your-email@gmail.com
PASSWORD=your-16-char-app-password

#database credentials
DB_USER=database_username
DB_HOST=database_hosting
DATABASE=database_name
DB_PASSWORD=database_password
DB_PORT=database_port
