<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relot - Account - informationt</title>
  <link rel="stylesheet" href="/css/global/global.css">
  <link rel="stylesheet" href="/css/settings.css">
  
</head>
<body>
  <header><h1 class="info-main-header" style="background-color: var(--bg-primary);
  color: #e8e7e7;
  font-size: 3rem;
  width: 100vw;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;">Account Information</h1></header>
  <main>