<%- include("../../partials/client/settings/header.ejs") %>

<div class="settings-container">
<section class="settings-card">
  <a href="/settings-about">Profile Information</a>
</section>
<section class="settings-card"> <a href="/change-password">Change Password</a></section>


</div>




<%- include("../../partials/client/settings/footer.ejs") %>