<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relot - change password</title>
  <link rel="stylesheet" href="/css/global/global.css">
  <link rel="stylesheet" href="/css/settings.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <header>
    <h1 class="info-main-header">Change password</h1>
  </header>
  <main>
    <form action="/change-password" method="POST" class="change-form">
  <p class="instruction-p">To secure your account, please confirm your identity before changing your password.</p>

 
  <div class="form-group">
    <label for="current-password">Current Password</label>
    <input type="password" id="current-password" name="currentPassword" 
           autocomplete="current-password" required placeholder="Current password">
  </div>

 
  <div class="form-group">
    <label for="new-password">New Password</label>
    <input type="password" id="new-password" name="newPassword" 
           minlength="8" maxlength="32" autocomplete="new-password" required placeholder="New password">
    <small>Must be 8-32 characters.</small>
  </div>

  
  <div class="form-group">
    <label for="confirm-password">Confirm New Password</label>
    <input type="password" id="confirm-password" name="confirmPassword" 
           minlength="8" maxlength="32" autocomplete="new-password" required placeholder="Confirm password">
  </div>

  <button type="submit" class="btn btn-primary btn-update">Update Password</button>
  

</form>

<div class="notification-container">
  <% if (locals.messages && messages.length > 0) { %>
    <div class="alert alert-error">
      <i class="fa-solid fa-circle-xmark"></i>
      <span><%= messages %></span>
    </div>
  <% } %>

  <% if (locals.success && success.length > 0) { %>
    <div class="alert alert-success">
      <i class="fa-solid fa-circle-check"></i>
       <span><%= success %></span>
    </div>
  <% } %>
</div>



  </main>

  <script>
   
    document.addEventListener("DOMContentLoaded", () => {
        const alert = document.querySelector(".alert");
        
        if (alert) {

           if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }

            
            setTimeout(() => {
                alert.style.transition = "opacity 0.6s ease, transform 0.6s ease";
                alert.style.opacity = "0";
                alert.style.transform = "translate(-50%, -60%)";
               
                setTimeout(() => {
                    alert.remove();
                }, 600);
            }, 4000); 
        }
    });
</script>

</body>
</html>