<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relot | Maintenance  Mode</title>
  <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body style="display: flex; gap: 0rem; flex-direction: column; font-family: 'Poppins', sans-serif;">
  <h1>Maintenance Mode on</h1>
  <p><%= reason %></p>
  <a style="text-decoration: none; padding: 15px; background-color: #008075; color: white; width: fit-content; border-radius: 10px;" href="https://wa.me/+2348106580331">Contact Support</a>
</html>